header img {
    width: 2rem;
    height: 2rem;
}

search {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-auto-flow: column;
    gap: 2rem;
}

search input {
    width: 40rem;
    height: 1.5rem;
    border-radius: 1rem;
    border: none;
    background-color: hsl(250, 5%, 80%);
}