body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
    grid-template-areas: 
    'sidebar header'
    'sidebar main';
}

img {
    width: 1.5rem;
    height: 1.5rem;
}

search, .user-info, header {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    gap: 2rem;
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 0.2fr 2fr 1fr;
    gap: 4rem;
    padding-left: 1rem;
    background-color: lightskyblue;
}

.sidebar-title img {
    width: 4rem;
    height: 4rem;
}

.sidebar-title h1, header h1 {
    font-size: 1.5rem;
}

.sidebar nav {
    display: grid;
}

.item, .sidebar-title {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.item {
    grid-template-columns: 3rem;
}

.sidebar-title {
    grid-template-columns: 4rem;
}

search, .user-info {
    justify-content: center;
}

header {
    justify-content: space-evenly;
    grid-area: header;
}


header, .sidebar-title {
    height: 5rem;
}

search input {
    width: 30rem;
    height: 1.5rem;
    border-radius: 1rem;
    border: none;
    background-color: hsl(250, 5%, 80%);
}